:root{
    --red: rgb(223, 28, 28);
    --lightRed: rgb(223, 78, 78);
    --lighterRed: rgb(238, 116, 116);
    --veryLightBlue: #e6eff8;
    --veryLightRed: rgb(226, 183, 183);
    --circle-length: 151px;
    --check-length: 36px;
}

#header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background: white;
    z-index: 2;
}

#body{
    width: 100%;
    min-height: 85vh;
    margin-top: 100px;
}
#footer{
    width: 100%;
    height: 15vh;
}

#headerName{
    color: var(--red);
}

.userPicture{
    width: 40px;
    height: 40px;
    border-radius: 10em;
    object-fit: cover;
    margin-right: 10px;
    cursor: pointer;
}
.row{
    margin: 0px!important;
}

#userName{
    color: grey;
    font-size: 16px;
    cursor: pointer;
}

#headerOptionBody{
    display: none;
    width: 200px;
    height: 150px;
    position: fixed;
    right: 15px;
    top: 1.2em;
    border-radius: 2px;
    animation: expand .2s linear;
    z-index: 2;
}

#headerOptionsClose{
    height: 10px;
    cursor: pointer;
    transition: color 0.3s linear;
}

#headerOptionsClose:hover{
    color: var(--red);
}

.headerOpt{
    height: 70px;
}

#userName, #userDetailName, #postUserName, #postUserEmail{
    font-size: 13px;
}

#userEmail{
    color: lightgrey;
    font-size: 10px;
}



#headerOptionsClose{
    color: gray;
}

@keyframes expand {
    from{
        transform: scale(0.5);
    }
}

#logout{
    width: 150px;
    height: 40px;
    border: 2px solid  var(--lightRed);
    border-radius: 30px;
    color: var(--lightRed);
    transition: background 0.3s linear;
}

#logout:hover{
    background: var(--lightRed);
    color: white;
}

.searchBody{
    height: 80px;
}

#searchInput{
    width: 85%;
    height: 50px;
    padding: 1.5em;
    border-radius: 10px;
    border: 0px;
    outline: none;
    transition: border 0.2s linear;
    background: whitesmoke;
}

#searchInput:focus{
    border: 2px solid var(--lighterRed);
}


#testifyBtn{
    height: 50px;
    width: 150px;
    border: 2px solid var(--lighterRed);
    border-radius: 10px;
    color: var(--lighterRed);
    cursor: pointer;
    transition: background 0.3s linear;
    font-weight: bold;
}

#testifyBtn:hover{
    background: var(--lighterRed);
    color: white;
    border: none;
}

#overlay{
    display: none;
    position: fixed;
    top:0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.2 ;
    z-index: 2;
}
#postTestimonyContainer{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
    animation: fadeIn 0.5s linear;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
}

#postTestimonyBody, #testimonyLoader{
    width: 600px;
    min-height: 450px;
    border-radius: 10px;
    background: white;
    max-height: 550px;
}
#testimonyLoader{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    opacity: 0.8;
    background: var(--veryLightBlue);
    width: 600px!important;
}
#postTestimonyBodyHead, #postTestimonyBodyHead > div{
    height: 60px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#postTestimonyBodyHead{
    border-bottom: 1px solid lightgrey;
}

#closePostTestimonyBody{
    cursor: pointer;
    color: grey;
    transition: color .3s linear;
}

#closePostTestimonyBody:hover{
    color: var(--lighterRed);
}

#postTestimonyTitleBody{
    height: 100px;
}

#testimonyTitleInputBody{
    width: 100%;
    height: 60px;
}

#testimonyTitleInput{
    width: 70%;
    height: 45px;
}

.testimonyInput{
    padding: 1em;
    background: var(--veryLightBlue);
    border: 1px solid lightgrey;
    font-weight: lighter;
    font-family: LatoWebLight;
}

#testimonyContentInputBody{
    height: 160px;
}

#testimonyContentInput{
    width: 100%;
    height: 160px;
}

#postTestimonyBtnBody{
    height: 77px;
}
#testimonyError{
    display: none;
    width: 80%;
    justify-content: center;
    align-items: center;
    background: var(--veryLightRed);
}






@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: var(--circle-length);
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: var(--check-length);
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#successAnimationCircle {
  stroke-dasharray: var(--circle-length) var(--circle-length);
  stroke: var(--lighterRed);
}
#successAnimationCheck {
  stroke-dasharray: var(--check-length) var(--check-length);
  stroke: var(--lighterRed);
}

#successAnimationResult {
  fill: var(--lighterRed);
  opacity: 0;
}

#successAnimation.animated {
  animation: 1s ease-out 0s 1 both scaleAnimation;
}


#successAnimationCircle {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle,
               0.3s linear 0.9s 1 both fadeOut;
  }
  
  #successAnimationCheck {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck,
               0.3s linear 0.9s 1 both fadeOut;
  }
  
  #successAnimationResult {
    animation: 0.3s linear 0.9s both fadeIn;
  }





@media only screen and (max-width: 600px){
    #searchInput{
        width: 80%;
    }
    #postTestimonyBody{
        width: 280px!important;
    }
}



.h{
    position: fixed;
    top: 3em;
    z-index: 6;
    width: 100px;
    height: 60px;
    background: red;
    cursor: pointer;
}