:root{
    --red: rgb(223, 28, 28);
    --lightRed: rgb(223, 78, 78);
    --lighterRed: rgb(238, 116, 116);
    --veryLightRed: rgb(226, 183, 183);
}

#header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background: white;
    z-index: 2;
}

#body{
    width: 100%;
    min-height: 85vh;
    margin-top: 100px;
}
#footer{
    width: 100%;
    height: 15vh;
}

#headerName{
    color: var(--red);
}

.userPicture{
    width: 40px;
    height: 40px;
    border-radius: 10em;
    object-fit: cover;
    margin-right: 10px;
    cursor: pointer;
}
.row{
    margin: 0px!important;
}

#userName{
    color: grey;
    font-size: 16px;
    cursor: pointer;
}

#headerOptionBody{
    display: none;
    width: 200px;
    height: 150px;
    position: fixed;
    right: 15px;
    top: 1.2em;
    border-radius: 2px;
    animation: expand .2s linear;
    z-index: 2;
}

#headerOptionsClose{
    height: 10px;
    cursor: pointer;
    transition: color 0.3s linear;
}

#headerOptionsClose:hover{
    color: var(--red);
}

.headerOpt{
    height: 70px;
}

#userName, #userDetailName, #postUserName, #postUserEmail{
    font-size: 13px;
}

#userEmail{
    color: lightgrey;
    font-size: 10px;
}



#headerOptionsClose{
    color: gray;
}

@keyframes expand {
    from{
        transform: scale(0.5);
    }
}

#logout{
    width: 150px;
    height: 40px;
    border: 2px solid  var(--lightRed);
    border-radius: 30px;
    color: var(--lightRed);
    transition: background 0.3s linear;
}

#logout:hover{
    background: var(--lightRed);
    color: white;
}

.searchBody{
    height: 80px;
}

#searchInput{
    width: 85%;
    height: 50px;
    padding: 1.5em;
    border-radius: 10px;
    border: 0px;
    outline: none;
    transition: border 0.2s linear;
    background: whitesmoke;
}

#searchInput:focus{
    border: 2px solid var(--lighterRed);
}

.testimonyBody{
    z-index: 1;
}

#testifyBtn{
    height: 50px;
    width: 150px;
    border: 2px solid var(--lighterRed);
    border-radius: 10px;
    color: var(--lighterRed);
    cursor: pointer;
    transition: background 0.3s linear;
    font-weight: bold;
}

#testifyBtn:hover{
    background: var(--lighterRed);
    color: white;
    border: none;
}

#overlay{
    display: none;
    position: fixed;
    top:0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.8;
    z-index: 2;
}
#postTestimonyContainer{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
}
#postTestimonyBody{
    width: 600px;
    height: 450px;
    border-radius: 10px;
}
#postTestimonyBodyHead, #postTestimonyBodyHead > div{
    height: 60px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


@media only screen and (max-width: 600px){
    #searchInput{
        width: 80%;
    }
}